.itemDetailContainer {
    height: 100vh;    
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/fondo_biblioteca.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}